/*style du body et image de fond */
body{
    font-family:sans-serif;
     background-position:center;
     background-image:url("../images/avions1.jpg");
     background-repeat:no-repeat;
     font-size:18px;
     margin:0px;
     padding: 0px;
}

body form{
    margin: 0 0 0 0px;
}

/*le container: fond bleu ciel et transparent*/
#container{
     position:relative;
     margin-top:50px;
     margin-left: 190px;
	 width:990px;
	 border:5px outset white;
	 min-height:550px;
     background-color:rgba(204,237,240,0.9);
}
/*toutes les balises "a" ne seront pas soulignées et seront en noir'*/
#container a {
    text-decoration: none;
    color: black;
}
/*bouton pour voir les réservations : page espace client*/
#btvision{
    
}
/*les messages d'erreur*/
#error{
    position: relative;
    width: 550px;
    height: 200px;
    margin-left: 250px;
}
/* la div contenant la table d'affichage de la réservation */
.tablereservation{
    position: relative;
    width: 600px;
    margin-top: 0px;
    margin-left: 150px;
    text-align: center;
    
}
/* les th de la table contanant d'affichage de la réservation */
.tablereservation th{
    width: 500px;
    border: 1px solid #003399;
    text-align: center;
}

/* les td de la table contanant d'affichage de la réservation */
.tablereservation td{
    width: 500px;
    text-align: center;
    margin-top: 5px;
    border: 1px solid #003399;
}
/* formulaire de connexion du client */
#connectionuser{
    position: relative;
    width: 800px;
    height: 70px;
    margin-bottom: 0px;
    margin-top: 0px;
}
/* formulaire de la page de contact */
#contact{
    margin-top: -200px;
    
}

/* message d'erreur pour la connexion de l'administrateur'*/
#connectionadmin{
    position: relative;
    width: 800px;
    height: 90px;
    margin-left: 100px;
    margin-top: 0px;
}
 /* formulaire de recherche de vol*/
#recherche{
    position: relative;
    margin-top: -200px;
}

/*input de la date du formulaire de recherche de vol*/
#date input{
    width: 53px;
    padding: 0px;
}
/*formulaire d'inscription du client dans espaceclient.php'*/
#inscription{
   float: left;
}
 /*l'en-tête de la page avec le logo et le menu*/
#header{
     margin-top: 1px;
     width:980px; 
     height:90px;
	 
}
 /*le cadre contenant le logo*/
#logo{
     position:absolute;
     width: 100px;
     height: 85px;
     margin-left:0px;
     margin-top:-1px;;
 }
  /*l'image du logo*/
 #logo img{
     width: 100px;
     height:90px;
 }
 /*la div contenant le formulaire*/
#backoffice {
     margin-top: 45px;
     float: right;
     width: 800px;
     height: 42px;
 }
 
 /*le formulaire de la connexion de l'administrateur'*/
 #backoffice form {
     margin-top:15px;
 }
  /*input du formulaire de connexion de l'administrateur'*/
 #backoffice form input{
     margin:0px;
     padding: 2px;
     display: inline;
     margin-top: -10px;
 }
 /*la div contenant le formulaire du client*/
 #utilisateur{
     float: left;
     margin-top: 5px;
     padding:10px;
 }

/*la div du menu*/
#menu{
     position:absolute;
     width:770px; 
     height:40px;
     margin:0px 0px 5px 170px;
}
/*les ul > li(les boutons) du menu*/
.nav-tabs > li {
  float: left;
  width: 150px;
  text-align: center;
  border: 2px outset;
}

.nav-tabs > li > a{
  padding-right: 20px;
  padding-left: 10px;
  margin-right: 20px;
  margin-left: 15px;
  line-height: 15px;
}
/*div contenant tous les affichages (les formulaires,le carousel...)*/
#developpement{
    position: relative;
    margin: 10px 5px 0px 15px;
    height: 350px;
    border: 3px inset #eeeeee;
    padding: 15px;
    overflow: auto;
} 
/*la div contenant les images du carousel*/
#carousel{
    position: relative;
    margin: 10px 5px 0px 70px;
    width: 850px;
    height: 500px;
    border: 4px graytext inset;
}

/*la taille des images du carousel*/
.carousel-inner img{
    width: 850px;
    height: 500px;
}
 /*la div contenant le texte de "bienvenue et cliquez ici"*/
#bienvenue{
    position: relative;
    text-align: center;
    font-size: 20px;
    width: 300px;
    border: 2px inset #eeeeee;
    margin: 5px 0px 5px 350px;
 }
  /*les boutons de déconnexion*/
#deconnexion{
    float: right;
    margin-top: 0px;
    margin-right: -90px;
    
    
}

.tab-content{
    position: relative;
    margin-top: 80px;
    margin-left:202px;
    width: 500px;
    text-align: center;
}

/*le pied de page*/
#footer{
    position:relative;
     width:990px; 
     height:70px;
     margin-top:10px;
}
/* la balise 'p' dans le footer*/
#footer p {
    text-align: center;
    margin:0px 0px 0px 500px;
    
}