#Note : ce fichier .htaccess surcharge la conf d'Apache
Options -Indexes
RewriteEngine on
# pour la récriture d'URL
RewriteRule ^$ accueil.php [L]
RewriteRule ^recherche$ recherche.php [L]
RewriteRule ^choixducritere$ choixDuCritere.php [L]
#méthode action par défaut
RewriteRule ^([a-zA-Z]+)$ index.php?controller=$1&method=action [L]
RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)$ index.php?controller=$1&method=$2 [L]