#Note : ce fichier .htaccess surcharge la conf d'Apache
Options -Indexes
RewriteEngine on
# pour la récriture d'URL
RewriteRule ^$ accueil.php [L]
RewriteRule ^recherche$ recherche.php [L]
RewriteRule ^propositions$ propositions.php [L]
RewriteRule ^espaceclient$ espaceClient.php [L]
RewriteRule ^clientConnection$ clientconnection.php [L]
RewriteRule ^synthese$ synthese.php [L]
RewriteRule ^contact$ contact.php [L]
RewriteRule ^choixducritere$ displayChoixDuCritere.php [L]
RewriteRule ^quisommesnous$ quiSommesNous.php [L]
RewriteRule ^error$ error.php [L]
RewriteRule ^error2$ error2.php [L]
#méthode action par défaut
RewriteRule ^([a-zA-Z]+)$ index.php?controller=$1&method=action [L]
RewriteRule ^reservationDetailsController/action/([a-zA-Z0-9]+)$ index.php?controller=reservationDetailsController&method=action&numreservation=$1 [L]
RewriteRule ^affichageClientController/action/([a-zA-Z0-9]+)$ index.php?controller=affichageClientController&method=action&numclient=$1 [L]
RewriteRule ^affichagePassagerController/action/([a-zA-Z0-9]+)$ index.php?controller=affichagePassagerController&method=action&numpassager=$1 [L]
RewriteRule ^affichageReservationController/action/([a-zA-Z0-9]+)$ index.php?controller=affichageReservationController&method=action&numreservation=$1 [L]
RewriteRule ^affichageDesPassagersController/action/([a-zA-Z0-9]+)$ index.php?controller=affichageDesPassagersController&method=action&numreservation=$1 [L]
RewriteRule ^affichageVolController/action/([a-zA-Z0-9]+)$ index.php?controller=affichageVolController&method=action&numvol=$1 [L]
RewriteRule ^affichageEmployeController/action/([a-zA-Z0-9]+)$ index.php?controller=affichageEmployeController&method=action&numemploye=$1 [L]
RewriteRule ^affichageDesVolsController/action/([a-zA-Z0-9]+)$ index.php?controller=affichageDesVolsController&method=action&numemploye=$1 [L]
RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)$ index.php?controller=$1&method=$2 [L]
RewriteRule ^[\w-]+$ error.php [L]
