#Note : ce fichier .htaccess surcharge la conf d'Apache
Options -Indexes
# pour la récriture d'URL
RewriteEngine on
RewriteRule ^$ accueil.php [L]
RewriteRule ^recherche$ recherche.php [L]
RewriteRule ^propositions$ propositions.php [L]
RewriteRule ^espace_client$ espace_client.php [L]
RewriteRule ^retour_contact$ retour_contact.php [L]
RewriteRule ^connexion_client$ connexion_client.php [L]
RewriteRule ^synthese$ synthese.php [L]
RewriteRule ^contact$ contact.php [L]
RewriteRule ^bo_choix_critere#([a-zA-Z]+)$ bo_choix_critere.php#$1 [L]
RewriteRule ^bo_choix_critere$ bo_choix_critere.php [L]
RewriteRule ^la_compagnie$ la_compagnie.php [L]
RewriteRule ^erreur_500$ erreur_500.php [L]
RewriteRule ^erreur_401$ erreur_401.php [L]
#méthode action par défaut
RewriteRule ^([a-zA-Z_]+)$ index.php?controller=$1&method=action [L]
RewriteRule ^detailsReservation/([a-zA-Z0-9]+)$ index.php?controller=DetailsReservationController&method=action&numreservation=$1 [L]
RewriteRule ^client/([a-zA-Z0-9]+)$ index.php?controller=AffichageClientController&method=action&numclient=$1 [L]
RewriteRule ^passager/([a-zA-Z0-9]+)$ index.php?controller=AffichagePassagerController&method=action&numpassager=$1 [L]
RewriteRule ^reservation/([a-zA-Z0-9]+)$ index.php?controller=AffichageReservationController&method=action&numreservation=$1 [L]
RewriteRule ^passagers/([a-zA-Z0-9]+)$ index.php?controller=AffichagePassagersController&method=action&numreservation=$1 [L]
RewriteRule ^vol/([a-zA-Z0-9]+)$ index.php?controller=AffichageVolController&method=action&numvol=$1 [L]
RewriteRule ^employe/([a-zA-Z0-9]+)$ index.php?controller=AffichageEmployeController&method=action&numemploye=$1 [L]
RewriteRule ^vols/([a-zA-Z0-9]+)$ index.php?controller=AffichageVolsController&method=action&numemploye=$1 [L]
RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)$ index.php?controller=$1&method=$2 [L]
RewriteRule ^[\w-]+$ erreur_500.php [L]
